# SPDX-License-Identifier: GPL-2.0+
# Ported from the MuCross TMPA9xx U-Boot source release:
# https://mucross.com/downloads/tx09-linux/Release-20110309/src/
# (C) Copyright 2009,2010
# Kernel Concepts <www.kernelconcepts.de>
# Florian Boor (florian.boor@kernelconcepts.de)

if ARCH_TMPA9XX
config SYS_SOC
	default "tmpa9xx"
config TARGET_BRAIN_GEN1
	bool "Sharp Brain first generation"
source "board/sharp/brain-gen1/Kconfig"
endif
