# SPDX-License-Identifier: GPL-2.0+
# Ported from MuCross TMPA9xx U-Boot.
# (C) Copyright 2009,2010 Kernel Concepts <www.kernelconcepts.de>
if TARGET_BRAIN_GEN1
config SYS_BOARD
	default "brain-gen1"
config SYS_VENDOR
	default "sharp"
config SYS_CONFIG_NAME
	default "brain-gen1"
endif
